:host ::ng-deep .cmecfmenuBar {
	background: none !important;
	border: 0px !important;
	border-radius: 0px !important;
}

:host ::ng-deep .ui-breadcrumb {
	background: none !important;
	border: 0px !important;
}