<input type="checkbox" [(ngModel)]="showEO" (click)="setEOSelected()"/>
<div *ngIf="showEO">
  <br/>
  <a href="javascript:void(0)" *ngIf="!showSLOTable" (click)="showSLOTable=true">Hide SLine </a>
  <a href="javascript:void(0)" *ngIf="showSLOTable" (click)="showSLOTable=false">Show SLine </a>
  <br/><br/>
  <div *ngIf="!showSLOTable">
    
    <p-dataTable [value]="rule.secondLineOwnership.ownerships" [responsive]="true">
      <p-column>
        <ng-template pTemplate="header">
          Business Unit
        </ng-template>
        <ng-template let-row="rowData" pTemplate="body"  let-col>
            <div *ngFor="let bu of row.businessUnit">
                {{bu.text}}
            </div>
        </ng-template>
      </p-column>

      <p-column>
        <ng-template pTemplate="header">
            Legal Entity
        </ng-template>
        <ng-template pTemplate="body" let-row="rowData">
          {{row.legalEntity | json}}
        </ng-template>
      </p-column>

      <p-column>
        <ng-template pTemplate="header">
          Role
        </ng-template>
        <ng-template pTemplate="body" let-row="rowData">
          <input type="text" [(ngModel)]="row.role"/> 
        </ng-template>
      </p-column>

      <p-column>
        <ng-template pTemplate="header">
            Primary Contact
        </ng-template>
        <ng-template pTemplate="body" let-row="rowData">
          {{row.primaryContact |json}}
        </ng-template>
      </p-column>

      <p-column>
        <ng-template pTemplate="header">
            Additional Contacts
        </ng-template>
        <ng-template pTemplate="body" let-row="rowData">
          {{row.additionalContacts |json}}
        </ng-template>
      </p-column>

      <p-column>
        <ng-template pTemplate="header">
            Notes
        </ng-template>
        <ng-template pTemplate="body" let-row="rowData">
          <input type="text" [(ngModel)]="row.notes"/> 
        </ng-template>
      </p-column>

      <p-column>
        <ng-template pTemplate="header">
          Delete
        </ng-template>
        <ng-template pTemplate="body" let-ri="rowIndex">
          <a href="javascript:void(0)" (click)="deleteSecondLineRole(rowIndex)">Delete</a>
        </ng-template>
      </p-column>
    </p-dataTable>

    <br/>
    <input type="button" value="Add Second Line" (click)="addSecondLineRole()"/>
  </div>
</div>
<hr/>
<input type="button" value="Print" (click)="save()">