<p>hands-on works!</p>

<input [(ngModel)]="sampleText" type="text" />

<h2>{{sampleText}}</h2>


<br />

<input #templateRefVarTest type="text">

<span>Hello Span </span>

<select [(ngModel)]="selectedCountry">
	<option [ngValue]="country" *ngFor="let country of countries">{{country.name}}</option>
</select>

<h1>{{selectedCountry?.name}}</h1>

<h1></h1>
<label>Input 1: </label>
<input [ngModel]="input1" (ngModelChange)="onInput1Change($event)">
<br />
<br />
<label>Input 2: </label>
<input [ngModel]="input2">

<div>

	<form #myForm="ngForm" (ngSubmit)="login()">
		<div class="form-group">
			<label for="uName">User Name: </label> 
			<input type="text"
				name="uName" #uName="ngModel" class="form-control" id="uName"
				[(ngModel)]="applicationUser.applicationLogin" required>
		</div>
		<div class="form-group">
			<label for="password">Password: </label> 
			<input type="password" 
				name="password" #password="ngModel" class="form-control" id="password" required
				[(ngModel)]="applicationUser.applicationPassword">
		</div>
		<button type="submit" class="btn btn-default" [disabled]="!myForm.valid">Login</button>
	</form>

</div>

