<div class="p-grid main">
    <div class="p-col-3">

        <div class="pic-container row">

            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="profile-pic">

        </div>

        <div class="pic-selector" class="p-grid">

            <div class="p-col-3"></div>

            <div class="p-col-1">

                <img src="assets/img/Avatar.png" class="pic-sub-avatar">

            </div>

            <div class="p-col-5"><label class="Click-to-Edit">Click to Edit</label>

            </div>

            <div class="p-col-3">

            </div>

        </div>



    </div>
    <div class="p-col-9">
        <div class="p-grid">
            <div class="p-col-5">
                <label class="caption">Name</label>
                <br />
                <input id="input" type="text" pInputText>
            </div>
            <div class="p-col-2">
                <label class="caption">M. Initial</label>
                <br />
                <input id="input" type="text" pInputText>
            </div>
            <div class="p-col-5">
                <label class="caption"> &nbsp;</label>
                <br />
                <input id="input" type="text" pInputText>
            </div>

            <div class="p-col-6">
                <label class="caption">Yrs of Exp</label>
                <br />
                <input id="input" type="text" pInputText>
            </div>
            <div class="p-col-6">
                <label class="caption">Your field</label>
                <br />
                <input id="input" type="text" pInputText>
            </div>
        </div>
    </div>
    <div class="p-col-12">
        <label class="caption">I'm a</label>
        <br />
        <input id="input" type="text" pInputText>
    </div>
    <div class="p-col-12">
        <label class="caption">Headline</label>
        <br />
        <input id="input" type="text" pInputText>
    </div>
    <div class="p-col-12">
        <div class="p-grid">
            <div class="p-col-4">
                <label class="caption">Language</label>
                <br />
                <input id="input" type="text" size="30" pInputText>
            </div>
            <div class="p-col-4">
                <label class="caption">Speak</label>
                <br />
                <p-dropdown [options]="cities1"></p-dropdown>
            </div>
            <div class="p-col-4">
                <label class="caption"> Writing</label>
                <br />
                <input id="input" type="text" pInputText>
            </div>
            <div class="p-col-12">
                <a href="javascript::void">+ Add</a>
            </div>
        </div>
    </div>
</div>