<div class="p-grid main">
  <div class="p-col-5">
    <label> Bring info from existing Resume </label>
  </div>
  <div class="p-col-5">
    <label>PDF, TXT or Word Docs only.</label>
  </div>
  <div class="p-col-2"></div>

  <div class="p-col-10">
    <label>Company</label>
    <br />
    <input id="input" type="text" pInputText>
  </div>
  <div class="p-col-2"></div>

  <div class="p-col-10">
    <label>Title</label>
    <br />
    <input id="input" type="text" pInputText>
  </div>
  <div class="p-col-2"></div>

  <div class="p-col-10">
    <label>Location</label>
    <br />
    <input id="input" type="text" pInputText>
  </div>
  <div class="p-col-2"></div>

  <div class="p-col-3">
    <label>Start Date*</label>
    <br />
    <input id="input" type="text" pInputText>
  </div>
  <div class="p-col-3">
    <label>End Date*</label>
    <br />
    <input id="input" type="text" pInputText>
  </div>
  <div class="p-col-4">
      <br/>
      <p-checkbox binary="true" label="I currently work here" ></p-checkbox>
  </div>
  <div class="p-col-2"></div>

</div>