<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>My Login</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
.login-form {
	width: 340px;
	margin: 50px auto;
	font-size: 15px;
}

.login-form form {
	margin-bottom: 15px;
	background: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.login-form h2 {
	margin: 0 0 15px;
}

.form-control, .btn {
	min-height: 38px;
	border-radius: 2px;
}

.btn {
	font-size: 15px;
	font-weight: bold;
}
</style>
</head>
<body>
	<div class="login-form">
		<form action="#" method="post" th:action="@{/p/autenticate}"
			th:object="${user}">
			<h2 class="text-center">Log in</h2>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Username"
					name="username" required="required" th:field="*{email}">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Password" 
					name="password" required="required" th:field="*{password}">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block">Login</button>
				<a href="/oauth2/authorize/google?redirect_uri=/home" class="btn btn-primary btn-block">Login using Google</a>
				<a href="/oauth2/authorize/facebook?redirect_uri=/home" class="btn btn-primary btn-block">Login using Facebook</a>
				<a href="/oauth2/authorize/github?redirect_uri=/home" class="btn btn-primary btn-block">Login using Github</a>
				<a href="/oauth2/authorize/linkedin?redirect_uri=/home" class="btn btn-primary btn-block">Login using LinkedIn</a>
				<a href="/oauth2/authorize/okta?redirect_uri=/home" class="btn btn-primary btn-block">Login using Okta</a>
			</div>

		</form>

	</div>
</body>
</html>