<div class="p-grid" style="margin: 0px; text-align: center;">
  <div class="p-col-2"></div>
  <div class="p-col-8">
    <p class="Your-Public-Card">
      Your Public Card
    </p>
  </div>
  <div class="p-col-12">
    <div class="p-grid pic" style="margin: 0px; ">
      <div class="p-col-1"></div>
      <div class="p-col-10">
        Pic
      </div>
      <div class="p-col-1"></div>

      <div class="p-col-1"></div>
      <div class="p-col-10">
        <label>{{person.firstName}} {{person.lastName}}</label>
      </div>
      <div class="p-col-1"></div>

      <div class="p-col-1"></div>
      <div class="p-col-10">
        <label>17 yrs of Experience in</label>
      </div>
      <div class="p-col-1"></div>

      <div class="p-col-1"></div>
      <div class="p-col-10 title">
        <label>17 yrs of Experience in</label>
      </div>
      <div class="p-col-1"></div>

      <div class="p-col-1"></div>
      <div class="p-col-10">
        <label>UX/UI • Human-Computer Interaction • Human Centered Design. Helping companies create award-winning experiences.</label>
      </div>
      <div class="p-col-1"></div>

      <div class="p-col-12 box">
          <label class="text-left">Degree</label>
          <label class="text-right">BS in Design  |  MBA</label>
          <div style="clear: both"></div>
      </div>
      <div class="p-col-12"></div>
      <div class="p-col-12 box">
          <label class="text-left">Main Language</label>
          <label class="text-right">English +4 more</label>
          <div style="clear: both"></div>
      </div>

      <div class="p-col-12"></div>
      <div class="p-col-12 box">
          <label class="text-left">Willing to Relocate</label>
          <label class="text-right">Lives in:  Charlotte, NC</label>
          <div style="clear: both"></div>
      </div>

      <div class="p-col-12"></div>
      <div class="p-col-12 box">
          <label class="text-left">Open to</label>
          <label class="text-right">Full-time, Part-time, Contract, Internship, Temporary</label>
          <div style="clear: both"></div>
      </div>
      
      <div class="p-col-12"></div>
      <div class="p-col-12 box"></div>
        
    </div>
  </div>


  <div>

    <!--   
  <div style="display: flex; text-align: center;">
      <p class="Your-Public-Card">
          Your Public Card
        </p>
    <div class="p-grid" style="background-color: bisque">
      <div class="p-col-12">
          pic
      </div>
      <div class="p-col-12">
          <label>Tamilselvan Balasubramanim</label>
      </div>
      <div class="p-col-12">
          <label>17 yrs of Experience in</label>
      </div>

      <div class="p-col-12">
          <label>17 yrs of Experience in</label>
      </div>

    </div>
  </div> -->