<h1>Add a new District</h1>

<label>Select a Country: </label>
<app-countries (selectedCountry)="onCountrySelect($event)"></app-countries>
<br />
<div *ngIf="selectedCountry">
	<label>Select a State: </label>
	<app-state-dropdown [states]="states"
		(selectedState)="onStateSelect($event)"></app-state-dropdown>
	<form *ngIf="selectedState" (ngSubmit)="addDistrict()"
		#addDistrictForm="ngForm">
		<br /> 
		<div class="form-group">
			<label for="district"> Enter District Name: </label> <input type="text"
			[(ngModel)]="districtName" required #dName="ngModel" name="name" id="district" class="form-control">
			<div [hidden]="dName.valid" class="alert alert-danger">
				District Name is required.
			</div>	
		</div>	
		<br /> 
		<button type="submit" class="btn btn-default" [disabled]="!addDistrictForm.valid">Add District</button>
		<div [hidden]="message==null" [ngClass]="{'alert-success': success, 'alert-danger': !success}">
			<br/>
			{{message}}
		</div>
	</form>
</div>

