.picDiv img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border:10px white;
}

.dashboard {
    height: 48px;
    align-items:center;
    background-color: var(--link);
    width: 100.8%;
    display: flex;
    cursor: pointer;
  }

.username-label{
    font-size: 12px;
    font-weight: bold;
}
.dashboard label {
    font-size: 14px;
    font-weight: bold;
  }
  label, a{
    color: var(--white);
  }
  a:hover {
    color: var(--white);
    font-weight: normal !important;
    text-decoration:underline;
    font-weight:bold
  }
  .logout {
    font-size: 10px;
    color: var(--link);
  }
  .my-account {
    font-size: 10px;
    color: var(--white);
  }
  .username-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    padding-left: 15px;
  }
  .notifications{
    display: flex;
    align-items: center;
  }

  .jobs{
    font-size: 14px;
    font-weight: bold;
  }
  .sub-menu{
    font-size: 12px;
  }
  .sub-menu-image{
    text-align: center;
  }
  .contacts{
    font-size: 12px;
    font-weight: bold;
  }
  .hr{
    margin-top: -10px;
  }
  hr{
    border:none;
    border-top:1px dotted #7f7f7f;
  }
  .nav-div div{
    padding: 5px;
  }
  .top-menu{
   padding-top: 15px !important; 
  }
  .ellipse-outer{
    padding-top: 0px !important;
  }
  .ellipse-round {
    width: 24px;
    height: 24px;
    border: solid 1px #313131;
    background-color: var(--white);
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: #313131;
  }
  .ellipse-rectangle {
    width: 33px;
    height: 24px;
    border-radius: 13px;
    background-color: var(--white);
    text-align: center;
    font-size: 11px;
    font-weight: bold;
  }
  .ellipse-blue{
    background-color: var(--link);
    padding: 5px;
  }
  .nav-div .ellipse-round a, .nav-div .ellipse-rectangle a{
    color: #313131;
  }
 