<h1>Add a new City</h1>

<label>Select a country: </label>
<app-countries (selectedCountry)="onCountrySelect($event)" required></app-countries>
<div *ngIf="states?.length>0">
	<br>
	<label>Select a state: </label>
	<app-state-dropdown [states]="states" (selectedState)="onStateSelect($event)"></app-state-dropdown>
</div>
<div *ngIf="selectedState?.code">
	<br>
	<label>Select a district: </label>
	<app-district-list [stateId]="selectedState.id" (event)="onDistrictSelect($event)"></app-district-list>
</div>
<form #addCityForm="ngForm" (ngSubmit)="addCity()" *ngIf="selectedDistrict">
	<br>
	<div class="form-group">
		<label for="city">Enter City Name: </label>
		<input type="text" [(ngModel)]="name" name="cityName" required #cityName="ngModel" id="city" class="form-control">
		<div [hidden]="cityName.valid" class="alert alert-danger">
			City name is required.
		</div>
	</div> 
	<button type="submit" class="btn btn-default" [disabled]="!addCityForm.valid">Add City</button>
	<div [hidden]="message==null" [ngClass]="{'alert-success': success, 'alert-danger': !success}">
		<br/>
		{{message}}
	</div>
	
</form>


